<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='./style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <h2>
        I am <%= userinfo.username %>
    </h2>
</body>

</html>