.main_body{
    width: 100%;
    height: 100%;
    background-color: #f6f9fb;
}

.main_content{
    width: 300px;
 /*   height: 500px;*/
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.logo{
	margin-bottom: 20px;
    font-size: 80px;
    color: #0083db;  
}

.input_content{
    border: 1px solid #ccc;
}

.input-login,.input-register{
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 0;
    border-radius: 0;
    border-top:none; 
}

.input_box{
    height: 50px;
    border-radius: 0;
    border-top: none;
}

.sub_btn{
    padding:0 14px;
    margin-top: 30px;
}

.sub_btn .btn-login,.sub_btn .btn-register{
    height: 40px;
}
